rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función reutilizable: Chequeo de Admin Activo
    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rol == 'admin' &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.activo == true;
    }

    // Función reutilizable: Cajero / Empleado Activo estándar
    function isAuthAndActive() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.activo == true;
    }

    // RUTAS Y COLECCIONES
    
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      // PERMISO ESPECIAL DE INICIO: Permite a tu instalador guardar tu usuario inicial. (Podrás volver a 'if false' después de acceder)
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if false; 
    }

    match /products/{productId} {
      // Todos pueden ver y buscar productos para vender
      allow read: if isAuthAndActive();
      // Un cajero necesita update() el producto únicamente para descontar el stock al vender.
      allow update, create: if isAuthAndActive(); 
      allow delete: if isAdmin();
    }

    match /sales/{saleId} {
      // Cajeros pueden generar comprobantes o tickets e inspeccionar historial de ventas previas.
      allow read, create: if isAuthAndActive();
      allow update, delete: if isAdmin();
      
      match /items/{itemId} {
        // La Subcolección del Ticket de Venta hereda validación idéntica
        allow read, create: if isAuthAndActive();
        allow update, delete: if isAdmin();
      }
    }

    match /stockMovements/{movementId} {
      allow read, create: if isAuthAndActive();
      allow update, delete: if isAdmin();
    }

    // Colección de parámetros institucionales (AFIP, Nombres)
    match /config/{document=**} {
      allow read: if isAuthAndActive();
      allow write: if isAdmin();
    }
  }
}
